<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>foo: {{ foo }} | no-frameworks</title>
    <link rel="stylesheet" href="/bundle.css">
    <script src="/bundle.js"></script>
</head>

<body>
  {{{ yield }}}
</body>
</html>
